body {
  font-family: Arial;
  background: #f0f2f5;
  padding: 20px;
}

#feed {
  margin-top: 20px;
}

.post {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.create-post {
  margin-bottom: 20px;
}

.post {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.comment-box {
  margin-top: 10px;
}